{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
	<section class="article">
		{% for article in articles %}
			<article>
				<h2>{{article.title}}</h2>
				<div class="metadata">Ecrit le
					{{article.createAt | date('d/m/Y')}}
					à
					{{article.createAt | date('H:i')}}
					dans la catégorie
					{{article.category.title}}</div>
				<div class="content">
					<img src="{{article.image}}" alt="">
					{{article.content | raw}}
					<a href="{{ path('blog_show', {'id':article.id}) }}" class="btn btn-primary">Lire la suite</a>
					<a href="{{ path('post_like',{'id':article.id}) }}" class="btn btn-link js-like">
						{% if app.user and article.isLikedByUser(app.user) %}
							<i class="fas fa-thumbs-up"></i>
						{% else %}
							<i class="far fa-thumbs-up"></i>
						{% endif %}
						<span class="js-likes">{{article.likes | length}}</span>
						<span class="js-label">J'aime</span>
					</a>
				</div>
			</article>
		{% endfor %}
	</section>
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>

		function onClickBtnLike(event) {
event.preventDefault();

// Le this correspond à l'elt html qui déclenche l'evt ie les liens a
const url = this.href;
const spanCount = this.querySelector('span.js-likes');
const icone = this.querySelector('i');


axios.get(url).then(function (response) {
console.log(response);
spanCount.textContent = response.data.like;

if (icone.classList.contains('fas')) {
icone.classList.replace('fas', 'far');
} else {
icone.classList.replace('far', 'fas');
}
}).catch(function (error) {
if (error.response.status == 403) {
window.alert("Vous ne pouvez pas liker un article si vous n'êtes pas connecté !");
} else {
window.alert("Une erreur s'est produite");
}


})
}

document.querySelectorAll('a.js-like').forEach(function (link) {
link.addEventListener('click', onClickBtnLike);
})
	</script>

{% endblock %}
